@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* New color palette */
    --atomic-tangerine: 18 92% 69%;
    --beaver: 17 29% 56%;
    --gray: 330 1% 49%;
    --silver: 240 1% 69%;
    --smoky-black: 36 25% 8%;
    --peach: 25 100% 77%;

    /* Added colors */
    --white: 0 0% 100%;
    --black: 0 0% 0%;
    --dark-gray: 240 3.7% 15.9%;
    --destructive-light: 0 84.2% 60.2%;
    --destructive-dark: 0 72% 51%;

    /* Light theme */
    --background: var(--peach);
    --foreground: var(--smoky-black);
    --card: var(--white);
    --card-foreground: var(--smoky-black);
    --popover: var(--white);
    --popover-foreground: var(--smoky-black);
    --primary: var(--atomic-tangerine);
    --primary-foreground: var(--smoky-black);
    --secondary: var(--beaver);
    --secondary-foreground: var(--white);
    --muted: var(--silver);
    --muted-foreground: var(--gray);
    --accent: var(--silver);
    --accent-foreground: var(--smoky-black);
    --destructive: var(--destructive-light);
    --destructive-foreground: var(--white);
    --border: var(--silver);
    --input: var(--silver);
    --ring: var(--atomic-tangerine);
  }

  .dark {
    /* Dark theme */
    --background: var(--smoky-black);
    --foreground: var(--peach);
    --card: var(--smoky-black);
    --card-foreground: var(--peach);
    --popover: var(--smoky-black);
    --popover-foreground: var(--peach);
    --primary: var(--atomic-tangerine);
    --primary-foreground: var(--smoky-black);
    --secondary: var(--beaver);
    --secondary-foreground: var(--white);
    --muted: var(--dark-gray);
    --muted-foreground: var(--silver);
    --accent: var(--atomic-tangerine);
    --accent-foreground: var(--smoky-black);
    --destructive: var(--destructive-dark);
    --destructive-foreground: var(--white);
    --border: var(--dark-gray);
    --input: var(--dark-gray);
    --ring: var(--atomic-tangerine);
  }
}
