@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Define new palette */
    --white: 0 0% 100%;
    --silver: 0 0% 69%;
    --pale-dogwood: 21 20% 75%;
    --peach: 25 100% 78%;
    --atomic-tangerine: 18 91% 69%;
    --old-rose: 11 35% 58%;
    --gray: 330 1% 48%;
    --raisin-black: 10 8% 15%;
    --licorice: 4 35% 8%;

    /* Added color for light borders */
    --light-gray: 0 0% 90%;

    /* Light theme assignments */
    --background: var(--white);
    --foreground: var(--licorice);
    --card: var(--white);
    --card-foreground: var(--licorice);
    --popover: var(--white);
    --popover-foreground: var(--licorice);
    --primary: var(--licorice);
    --primary-foreground: var(--white);
    --secondary: var(--pale-dogwood);
    --secondary-foreground: var(--licorice);
    --muted: var(--pale-dogwood);
    --muted-foreground: var(--gray);
    --accent: var(--peach);
    --accent-foreground: var(--licorice);
    --destructive: var(--old-rose);
    --destructive-foreground: var(--white);
    --border: var(--light-gray);
    --input: var(--light-gray);
    --ring: var(--licorice);
  }

  .dark {
    /* Dark theme assignments */
    --background: var(--licorice);
    --foreground: var(--white);
    --card: var(--licorice);
    --card-foreground: var(--white);
    --popover: var(--licorice);
    --popover-foreground: var(--white);
    --primary: var(--white);
    --primary-foreground: var(--licorice);
    --secondary: var(--raisin-black);
    --secondary-foreground: var(--white);
    --muted: var(--raisin-black);
    --muted-foreground: var(--gray);
    --accent: var(--raisin-black);
    --accent-foreground: var(--white);
    --destructive: var(--old-rose);
    --destructive-foreground: var(--white);
    --border: var(--raisin-black);
    --input: var(--raisin-black);
    --ring: var(--silver);
  }
}
